---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/libraries?token=b7657b3f0a75e429dd5c8b6c15c5e8514548681d
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"54f8212ec7e5d658d55ad0c9b337d0fb"'
    body:
      encoding: UTF-8
      string: '{"libraries":[{"id":"trial","link":"/api/v1/json/libraries/trial","name":"Trial
        Library"},{"id":"personal","link":"/api/v1/json/libraries/personal","name":"Personal
        Library"},{"id":"full","link":"/api/v1/json/libraries/full","name":"Full Library"}]}'
  recorded_at: Sat, 17 May 2014 23:44:02 GMT
recorded_with: VCR 2.9.0
