---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits?token=b7657b3f0a75e429dd5c8b6c15c5e8514548681d
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Remote-User:
      - '1255199'
      Etag:
      - '"2074afaffb5a1f8ad0d982b9915fa443"'
    body:
      encoding: UTF-8
      string: '{"kits":[{"id":"gec4ttz","link":"/api/v1/json/kits/gec4ttz"}]}'
  recorded_at: Sat, 17 May 2014 05:15:20 GMT
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits/gec4ttz?token=b7657b3f0a75e429dd5c8b6c15c5e8514548681d
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Remote-User:
      - '1255199'
      Etag:
      - '"518ae2a3f4013fec48aee3050ab745e5"'
    body:
      encoding: UTF-8
      string: '{"kit":{"id":"gec4ttz","name":"viralkitty","analytics":false,"badge":true,"domains":["viralkitty.com"],"families":[{"id":"llxb","name":"Museo
        Slab","slug":"museo-slab","css_names":["museo-slab"],"css_stack":"\"museo-slab\",serif","subset":"default","variations":["n3","i3","n7","i7"]}]}}'
  recorded_at: Sat, 17 May 2014 05:15:22 GMT
recorded_with: VCR 2.9.0
